<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="bg-black">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <section
        class="relative flex items-center bg-gray-900 lg:col-span-5 lg:h-screen xl:col-span-6"
      >
        <img
          alt="Background"
          src="https://github.com/keithlcheng/analoguerevolution/blob/main/src/assets/background.png?raw=true"
          class="absolute inset-0 h-full w-full object-cover opacity-50"
        />
  
        <div class="hidden lg:relative lg:block lg:p-12">

  
          <h2 class="mt-3 font-bold text-red-600 sm:text-3xl md:text-4xl">
            Donate
          </h2>
  
          <p class="mt-4 sm:text-sm leading-relaxed text-white/90">
            We would love your help to finish and promote the film to audiences worldwide. “Analogue Revolution” documents over 50 years of feminist activism in Canada, and the nearly 1000 feminist newspapers/journals/newsletter as well as dozens of film/video collectives, film festivals and radio shows that existed between the early 70’s and the mid 90’s.It is our  hope that this film will provide organizing tools and inspiration for younger feminist generations.

            <br><br>

            While this film was made with the participation of several public funding agencies, we are soliciting more funds to help with promotion and distribution of the film.
<br><br><a href="https://secure.donate2torontomu.ca/registrant/DonationPage.aspx?eventid=211139&langpref=en-CA&Referrer=https%3a%2f%2fwww.torontomu.ca%2f" target="_parent">
<button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
  Donate Here
</button></a>
<br>
<p class="mt-4 sm:text-xs text-sm leading-relaxed text-white/90">
Please direct your gift to "Documentary Film - Marusya Bociurkiw - RTA /The Creative School." You will be sent a tax-deductible receipt for your donation.
</p>


          </p>
        </div>
      </section>
  
      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <div class="relative -mt-16 block lg:hidden">
     <br><br>
  
            <h1
              class="mt-20 md:text-2xl sm:text-md font-bold text-red-600 sm:text-3xl md:text-4xl"
            >
            Donate
            </h1>
  
            <p class="mt-4 leading-relaxed text-white">
                We would love your help to finish and promote the film to audiences worldwide. “Analogue Revolution” documents over 50 years of feminist activism in Canada, and the nearly 1000 feminist newspapers/journals/newsletter as well as dozens of film/video collectives, film festivals and radio shows that existed between the early 70’s and the mid 90’s.It is our  hope that this film will provide organizing tools and inspiration for younger feminist generations.

                <br><br>
    
                While this film was made with the participation of several public funding agencies, we are soliciting more funds to help with promotion and distribution of the film.
    
            </p>
          </div>

          <section class="mt-8 grid grid-cols-6 gap-6  bg-black">
            <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700">
                <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-red-600">
                    <h3 class="text-xl font-bold tracki text-red-600">$150 </h3>
                    <p class="mt-3 text-white"> will help to defray film festival submission fees.</p>
                </div>

                <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-red-600">
                    <h3 class="text-xl font-bold tracki text-red-600">$400 </h3>
                    <p class="mt-3 text-white"> will pay for close-captioning.                            </p>
                </div>


                <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-red-600">
                    <h3 class="text-xl font-bold tracki text-red-600">$500 </h3>
                    <p class="mt-3 text-white"> will help to cover the technical costs of creating high-resoluton digital files for screenings.</p>
                </div>

                <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-red-600">
                    <h3 class="text-xl font-bold tracki text-red-600">$2,500 </h3>
                    <p class="mt-3 text-white"> will pay for a trailer editor.</p>
                </div>

                <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-red-600">
                    <h3 class="text-xl font-bold tracki text-red-600">$5,000 </h3>
                    <p class="mt-3 text-white"> will cover the costs of a publicist/marketer who will submit the film to festivals, create a marketing plan, and do outreach to grassroots organizations, educational venues, and streaming platforms.</p>
                </div>
        </div>
      </main>
    </div>
  </section>