---
import ContentSection from "~/components/content-section.astro"; 
const film = await Astro.glob('./about/*.md')
---

<ContentSection title="About The Documentary" id="about">
<section class="overflow-hidden sm:grid sm:grid-cols-2">
<div class=align-middle>
  <img
  alt=""
  src="https://github.com/keithlcheng/analoguerevolution/blob/main/src/assets/Hero.png?raw=true"

  class="align-middle object-scale-down"
/>
</div>
  <div class>
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left "
    >

<br>
{film.map(film => ( 
  <article>
    <p class=" text-white md:block text-sm font-bold text-center space-y-10">
  {film.frontmatter.emphasis}
  </p>
  <br> 
  <p class=" text-white md:block text-sm  text-center space-y-10">
  {film.frontmatter.description}
  </p>
</article>
  ))}

    </div>
  </div>


</section></ContentSection>
