---
import ContentSection from "~/components/content-section.astro"; 
---

<ContentSection title="About The Documentary" id="about">
<section class="overflow-hidden sm:grid sm:grid-cols-2">
<div class=align-middle>
  <img
  alt=""
  src="https://github.com/keithlcheng/analoguerevolution/blob/main/src/assets/Hero.png?raw=true"

  class="align-middle object-scale-down"
/>
</div>
  <div class>
    <div
      class="mx-auto max-w-xl text-center ltr:sm:text-left "
    >

<br>
      <p class="hidden text-white md:block text-sm  text-center">
        When Zainub Verjee, a Vancouver-based film programmer started the InVisible Colours women of colour film festival in 1988, 
        she fully expected it to continue for years. So did Linda Abrahams (Matriart Journal) and Zanana Akande (Tiger Lily Women of Colour Magazine). 
        Cutbacks, racism, and technological change decimated a sophisticated, world-changing feminist media movement.

        <br><br>
        This feature-length documentary traces the rise and fall of analogue feminist communications that preceded the MeToo era. 
        From Halifax to Vancouver, feminist storytellers of the 1970s to 90s took hold of cutting-edge media technology to document everything from violence towards women, 
        to how to insert a diaphragm. 
        <br><br>
        You’ll hear from feminist rock stars like Studio D’s Bonnie Sherr Klein (Montreal/Vancouver) and Sylvia D. Hamilton (Halifax); 
        print collectives like Press Gang (Vancouver) and Our Lives: Black Women’s Newspaper(Toronto). 
        Verjee tells the story of Canada’s first women of colour film festival; 
        Nora Randall describes what it meant to create Pedestal, first feminist newspaper in Canada. 
        Rare archival footage, like 70's feminist gatherings in Montreal, lead to the film’s climax: 
        draconian cutbacks to women’s and lesbian organizations across Canada, following the massacre of feminists at École Polytechnique in Montreal, (December 6, 1989). 
        The film concludes with a resurgence: younger BIPOC feminists (Ella Cooper, Black Women Film!; Didhood Collective), using analogue strategies to create new feminist digital networks.
      </p>


    </div>
  </div>


</section></ContentSection>
