---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

---

<ContentSection title="Team" id="team">


    <div class="container m-auto px-6 text-white text-center md:px-12 xl:px-0 ">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-4">
            <div class= shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                  <center><img src="src/assets/team/Marusya.png" class="w-2/3 -mb-12" alt="illustration" loading="lazy" width="500" height="500">
                  </center><br><br>
                    <h3 class="text-2xl font-semibold text-red-600">Marusya Bociurkiw</h3> 
                    <class="block font-medium"><b>Director</b></a>
                    <br> <br>
                    <p class="mb-6 ml-4 mr-4 text-sm">Marusya Bociurkiw got her start in media with 80’s feminist video collectives Women’s Media Alliance and Emma Productions. Since then, she’s directed or co-directed 10 videos/films, and has authored six books. Her most recent film, the award-winning “This Is Gay Propaganda: LGBT Rights & the War in Ukraine” (Canada 2015) screened in 12 countries and was translated into 4 languages. Her books have won or been shortlisted for several awards including CBC Writes, and Independent Publisher Award. She is Professor of Media Theory, and Founding Director of The Studio for Media Activism & Critical Thought at Toronto Metropolitan University.</p>
                </div>
            </div>


            <div class=container m-auto px-6 text-white text-center md:px-12 xl:px-0">
                <div class="mb-12 space-y-4">
                  <center><img src="src/assets/team/Eponine.png" class="w-2/3 -mb-12" alt="illustration" loading="lazy" width="500" height="500">
                  </center><br><br>
                  <h3 class="text-2xl font-semibold text-red-600">Eponine Young</h3>
                  <class="block font-medium"><b>Co-Producer</b></a>
                  <br> <br>
                <p class="mb-6 ml-4 mr-4 text-sm">Eponine studied Cinema & Media at York University and Screenwriting at Toronto Film School. She has worked as a filmmaker and producer for the last 6 years. Her most recent short film, But Nothing Changed, was a finalist in dramatic shorts at Emerging Artists Film Festival, a Semi-Finalist at AtlFF Film Festival, and an official selection at the Beer + Blood Film Festival.  She is currently producing/directing a new film entitled, "Retrograde."</p>
              </div>
            </div>


            <div class=container m-auto px-6 text-white text-center md:px-12 xl:px-0">
                <div class="mb-12 space-y-4">
                  <center><img src="src/assets/team/Vanessa.png" class="w-2/3 -mb-12" alt="illustration" loading="lazy" width="500" height="500">
                  </center><br><br>
                  <h3 class="text-2xl font-semibold text-red-600">Vanessa Abadhir</h3>
                  <class="block font-medium"><b>Director of Photography</b></a>
                  <br> <br>
                  <p class="mb-6 ml-4 mr-4 text-sm">Vanessa is a renowned artist and cinematographer. She is best known for "Classé Secret" (2022), "B*itch: a Word-Movie", and "Dear Jackie" (2021). She has worked as a mentor with Black Ink, which supports emerging Black filmmakers and has done cinematogrpahy on a number of films for the National Film Board of Canada.  Vanessa is based in Montreal and is a recognized member of the Québec Alliance of Image and Sound Technicians since 2008.She has a Ph.D. from Université du Québec a Montréal. </p>
              </div>
                </div>
     



                <div class=container m-auto px-6 text-white text-center md:px-12 xl:px-0">
              <div class="mb-12 space-y-4">
                  <center><img src="src/assets/team/Eugene.png" class="w-2/3 -mb-12" alt="illustration" loading="lazy" width="500" height="500">
                  </center><br><br>
                  <h3 class="text-2xl font-semibold text-red-600">Eugene Weis</h3>
                  <class="block font-medium"><b>Director of Photography</b></a>
                  <br> <br>
                  <p class="mb-6 ml-4 mr-4 text-sm">Eugene Weis is an award winning documentary film editor. His keen sense of storytelling has allowed him to craft films tackling important social issues ("Category: Woman", HotDocs 2022) as well as covering some of the most prolific pop icons in history (David Foster: Off The Record, TIFF 2019). Eugene's work has gone on to receive numerous accolades including a nomination for a Canadian Screen Award and two nominations from the Canadian Cinema Editors . Tackling such a diverse range of films ("Our Dance of Revolution", Nominee, Audience Choice Award, Hot Docs 2020; Winner, Best Documentary, Edmonton Film Festival 2020), Eugene  is committed to bringing an unbiased approach to his storytelling ("Pain Warriors", Honorable Mention, Best Documentary, Critics' Choice Film Awards 2022). </p>
              </div>
          </div>

            
        </div>
    </div>
</div>
</ContentSection>
